<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net"
             type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  
  <log4net>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%level] %message%newline" />
      </layout>
      <!--<filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>-->
    </appender>

    <appender name="SeparatorAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="------------------------------------------------------------------------------------%newline"/>
      </layout>
      <filter type="log4net.Filter.StringMatchFilter">
        <StringToMatch value="Leaving current cell: Commit"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
    </appender>
    
    <appender name="StackTraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <converter>
          <name value="stack"/>
          <type value="MagicSoftware.Common.Logging.StackTracePatternConverter,MagicSoftware.Common" />
        </converter>
        <conversionPattern value="%15stack{%t%at %Namespace%::%DeclaringType%.%Method% - %FileName%(%LineNumber%)%nl%}"/>
      </layout>
      <filter type="log4net.Filter.StringMatchFilter">
        <StringToMatch value="Table: Selection changed."/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
    </appender>
    
    <root>
      <level value="OFF" />
      <appender-ref ref="TraceAppender" />
      <appender-ref ref="SeparatorAppender"/>
    </root>

    <logger name="MagicSoftware.Common.Controls.Table.Extensions.DefaultCommandRegulationService">
      <level value="DEBUG"/>
    </logger>

    <logger name="MagicSoftware.Common.Controls.Table.Extensions.FocusManagementService">
      <level value="DEBUG"/>
    </logger>

    <logger name="MagicSoftware.Common.Controls.Table.Extensions.Editing">
      <level value="DEBUG"/>
    </logger>

    <logger name="MagicSoftware.Common.Controls.Table.Extensions.FocusManagementService">
      <level value="DEBUG"/>
    </logger>
  </log4net>
</configuration>
